@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-y;
    margin: 20px 0;
}

nav {
    margin: 15px 0;
}

div > h1,
h2,
body > div > nav > div > a > h4,
body > div > h1:nth-child(1) > a,
body > div > a > h4 {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.article-block {
    background: #fff;
    color: #383838;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 2px 2px 1px #ccc;
    padding: 10px;
    margin: 20px 0;
}

.article-block a {
    color: #383838;
    font-family: 'Ubuntu', sans-serif;
}

body > div > div > ol > li {
    margin: 0 5px;
}

div.container-image > img {
    width: 100%;
    margin: 5px 0;
}

div.fotorama {
    margin: 10px 0;
}